.board {
    position: relative;
    outline: 0px;
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    width: 361px;
    height: 601px;
}

.block {
    border-radius: 3px;
    height: 29px;
    width: 29px;
    position: absolute;
    z-index: 10;
}

.E {
    width: 30px;
    height: 30px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    position: absolute;

}
.B {
    background-color: black;
}
.shadow {
    background-color: rgb(230, 230, 230);
    z-index: 9;

}

.O {
    background-color: red;
}
.T {
    background-color: green;
}
.I {
    background-color: blue;
}
.J {
    background-color: darkblue;
}
.L {
    background-color: yellow;
}
.S {
    background-color: purple;
}
.Z {
    background-color: darkgreen;
}
