.board {
    position: relative;
    outline: 0px;
    border-top: 1px solid lightgrey;
    margin-top: 50px;
}

.holder {
    border: 1px solid lightgrey;
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 3px
}

.block {
    border-radius: 0px;
    position: absolute;
    z-index: 10;
}
.scoreboard {
    width: 170px;
    height: 30px;
    margin-right: 20px;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
.scoreboard-holder {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
}
.ui-button {
    border: 1px solid black;
    height: 25px;
    font-size: 16px;
    margin-right: 20px;
}
.E {
    border-radius: 0px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    z-index: 8;
    position: absolute;

}
.B {
    background-color: black;
    border-radius: 0px;
}
.shadow {
    background-color: rgb(230, 230, 230);
    z-index: 9;
}
.O {
    background-color: darkgoldenrod;
}
.T {
    background-color: purple;
}
.I {
    background-color: darkcyan;
}
.J {
    background-color: darkblue;
}
.L {
    background-color: darkorange;
}
.S {
    background-color: darkgreen;
}
.Z {
    background-color: darkred;
}
