.board {
    position: relative;
    outline: 0px;
    border-top: 1px solid lightgrey;
}

.holder {
    border: 1px solid lightgrey;
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 3px
}

.block {
    border-radius: 0px;
    position: absolute;
    z-index: 10;
}

.E {
    border-radius: 0px;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    z-index: 8;
    position: absolute;

}
.B {
    background-color: black;
    border-radius: 0px;
}
.shadow {
    background-color: rgb(230, 230, 230);
    z-index: 9;
}
.O {
    background-color: red;
}
.T {
    background-color: green;
}
.I {
    background-color: blue;
}
.J {
    background-color: darkblue;
}
.L {
    background-color: darkred
}
.S {
    background-color: purple;
}
.Z {
    background-color: darkgreen;
}
