.DashboardNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: darkblue;
    padding: 4px 30px 4px 30px;
}
.DashboardNav a {
    background-color: white;
    text-align: center;
    padding: 5px 15px;
    width: 100%;
    margin-right: 20px;
    border-radius: 3px;
    white-space: nowrap
}
.DashboardNav a:hover {
    color: darkblue;

}

/* 0 0 139 */