.DashboardNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    background-color: darkgray;
    padding: 4px 30px 4px 30px;
}
.DashboardNav div {
    background-color: lightgray;
    text-align: center;
    padding: 5px 15px;
    width: 100%;
    margin-right: 20px;
    border-radius: 3px;
    white-space: nowrap
}
.DashboardNav a:hover {
    color: darkblue;

}