.Message {
    animation-name: message;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s

}

@keyframes message {
    from {
        color: rgba(0, 0, 0, 1);
    }
    to {
        color: rgba(0, 0, 0, 0.0);
    }
}

