.scores {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
.scores>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid black;
}
.scores>div>div {
    padding: 8px;
}
.scores-header {
    font-weight: 900;
    font-size: 18px;
}
