.Settings {
    padding-bottom: 100px;
}
.Settings p {
    padding: 3px 0px;
}
.user-settings {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: 15px;
}
.control-fields>div>input {
    border: 2px solid lightgray;
    outline: 0;
}
.control-fields>div>input:focus {
    border: 2px solid darkblue;
    outline: 0;
}
.user-settings div:nth-child(odd) {
    width: 58%;
    padding: 15px 0px;
    border-bottom: 1px solid lightgray;
}
.user-settings div:nth-child(even) {
    width: 42%;
    padding: 15px 0px;
    border-bottom: 1px solid lightgray;
}
.user-settings div:last-child {
    border-bottom: none;
}
.user-settings div:nth-last-child(2) {
    border-bottom: none;
}
.control-fields div>input {
    width: 90px;
}
.field {
    width: 200px;
}

.not-logged-in p {
    margin-bottom: 10px;
}
.not-logged-in a {
    color: darkblue;
}