@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
  font-family: 'Inconsolata', monospace;
}
button {
  font-family: 'Inconsolata', monospace;

}
.App {
  padding: 40px 0px 0px 0px;
}
a {
  text-decoration: none;
  color: black;
}